@font-face {
  font-family : "round-edges";
  src: local('round-edges'), url(./fonts/VarelaRound-Regular.woff) format('woff');
}

@font-face{
  font-family: "AzeretMono";
  src : local('AzeretMono'), url(./fonts/AzeretMono-VariableFont_wght.woff) format('woff');
}
@font-face{
  font-family: "Montserrat";
  src : local('AzeretMono'), url(./fonts/Montserrat-Regular.woff) format('woff');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url(./images/bgImg3updated2.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  
  min-height: 100vh;
  /* display: flex;
  flex-direction: row; */
  /* align-items: center; */
  /* justify-content: space-around; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav-wrapper {

  font-size: 15px;
  font-family: 'round-edges';
  font-weight: 900;

  min-height : 10vh ; 
  display: flex;
  flex-direction: row;

  opacity: 0.8;
  
  color: rgb(0, 221, 255);
  justify-content: space-around;
  align-items: center;
}
.hr {
  background-color: rgb(72, 71, 71);
  border: none;
  height: 1px;
}
.logo-h2 span {
  color :rgb(0, 221, 255);

}
.logo-h2 {
  color: white;
}
.name {
  background-image: linear-gradient(to right,   rgb(156, 245, 255),rgb(0, 221, 255),#2a2aff);
  /* background-image: linear-gradient(to right,   #ad06f6,#00e1ff); */
  /* background-color: rgb(0, 221, 255); */
  color: black;
  padding: 10px;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  font-family: 'Montserrat';
  font-weight: 700;
}
.img-entry {
  position: absolute;
  height: 200px;
  margin-top: 30vh;
  
}
