.vc-wrapper {
    background-color: #B0A8B9;
}
.vc-wrapper-options-video {
    background-color: rgb(255, 255, 255);
}
.vc-options-wrapper {
    width: 40%;
    box-shadow : rgb(50 50 50 / 25%) 4px 0px 9px -6px;
}
.vc-options-wrapper button {
    border: none;
    background-color: transparent;
}
.vc-option-wrapper{
    height: 80px;
}
.vc-option-selected {
    height: 100%;
    width: 10px;
    background-color: #573280;
   
}
.vc-video-wrapper {
    width: 60%;
}