.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .marquee-container {
    cursor: all-scroll;
    color: black;
    background-color: transparent;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  .drag-span {
    height: 50px;
    position: relative;
    user-select: none;
  }
  
  