.spring-carousel-container {
    /* background-image: url("../../images/spaceRoom.png"); */
    overflow: hidden;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}
.spring-carousel-cards-container {
    padding-top: 100px;
    padding-bottom: 100px;

    display: flex;
    justify-content:center;
    align-items: center; 
}
.projects-carousel-wrapper {
    background-image: linear-gradient( #ADA8B6,silver, #ADA8B6);
    margin: auto;
    /* background-repeat: no-repeat; */
}
.projects-carousel-background {
    /* background-image: url("../../images/projects-logo.png");
    background-position-x: left;
    background-position: left;
    background-size: 100px;
    background-repeat: no-repeat; */
    position: relative;

}
.projects-carousel-heading {
    font-family: 'Josefin Sans', cursive;    
    font-weight: 700;
    font-size: 40px;
    color: white;
    max-width: 1200px;
    margin: auto;
}
.projects-carousel-side-label-wrapper{
    position: absolute;
    left: 50px;
    top: 150px;
}
.projects-carousel-side-label-text {
    color: #8e7e92;
    font-family: 'Cormorant';
    font-size: 80px;
    line-height: 90px;
}
.projects-carousel-cards-wrapper {
    border-radius: 50px;
}
.projects-carousel-cards-data-wrapper {
    /* background-color: #99E4D2; */
    height: 350px;
    width : 400px;
    border-radius:  0 5px 5px 0;
}
.projects-carousel-cards-title-desc-wrapper {
    word-wrap: break-word !important; 
    padding: 35px 20px 20px 35px ;
    display: block;
}
.projects-carousel-cards-data-heading {
    font-family: 'Josefin Sans';
    font-size: 28px;
    font-weight: 600;
}
.projects-carousel-cards-icon {
    height: 35px;
    width: 35px;
}
.projects-carousel-cards-data-description {
    font-size: 20px;
    padding-left: 3px;
    display: block;
    word-wrap: break-word !important; 
    overflow: hidden;
}
.projects-carousel-cards-data-redirect-line {
    height : 1px ;
    background-color: rgb(183, 183, 183);
}

.projects-carousel-cards-data-redirect {
    font-family: 'Josefin Sans';
    font-weight: 100;
    margin-top: auto;
    font-size: 20px;
    
}
.projects-carousel-cards-redirect-content-wrapper{
    width: 100%;
}
.projects-carousel-cards-data-redirect-text {
    padding: 10px 9px 8px 38px;
}
.projects-carousel-cards-image {
    height : 350px;
    border-radius: 5px 0 0 5px;
    z-index: -1;
    opacity: 0.1;
    /* filter: brightness(20%); */
}

@keyframes foregroundAppear {
    0% {
       opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes foregroundDisappear {
    0% {
       opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.projects-carousel-cards-image-foreground {
    position: absolute !important;
    left: 50px;
    top: 150px;
    z-index: 1 !important;
    opacity: 0;
    animation: 0.3s ease-out 0s 0.3  foregroundDisappear;
}
.projects-carousel-cards-image-foreground-hover {
    position: absolute !important;
    left: 50px;
    top: 150px;
    animation: 0.3s ease-out 0s 0.3  foregroundAppear;
    z-index: 1 !important;
    visibility: visible !important;
}
.projects-carousel-cards-foreground-icon {
    height : 70px;
    width: 70px;
    color: white;
    z-index: 1 !important;
    margin-bottom: 40px;
}
.projects-carousel-cards-foreground-text {
    font-family: 'Montserrat';
    /* font-weight: 700; */
    font-size: 40px;
    color: white;
    z-index: 1;
    margin-bottom: 45px;

}
.projects-carousel-cards-image2 {
    background-image: url('../../images/chatApp.png');
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    
}
@keyframes imageDarken {
    0% {
        background-color: transparent;
        opacity : 0;
     }
     100% {
        background-color: rgba(0, 0, 0, 0.69);
        opacity: 1;
     }
}
.projects-carousel-cards-image-background {
    background-position: center;
    height: 350px;
    background-repeat:no-repeat;
    background-size: contain;
}
.projects-carousel-cards-image-background-hover {
    background-position: center;
    height: 350px;
    background-repeat:no-repeat;
    background-size: contain;
   
}
.projects-carousel-cards-image-data{
    opacity: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0), #4B4453)
}
.projects-carousel-cards-image-data-hover {
    background-color: rgba(0, 0, 0, 0.69);
    animation: 0.3s ease-out 0s 0.3  imageDarken;
    opacity: 1;
}