.projects-carousel-wrapper {
    background-color: #B0A8B9;
    /* box-shadow: inset 0px 3px 10px rgb(104, 102, 102); */
    max-width: 1200px;
    margin: auto;
}
.projects-carousel-cards-wrapper {
    border-radius: 50px;
}
.projects-carousel-cards-data-wrapper {
    /* background-color: #99E4D2; */
    height: 350px;
    width : 400px;
    border-radius:  0 5px 5px 0;
}
.projects-carousel-cards-title-desc-wrapper {
    padding: 35px 20px 20px 35px ;
}
.projects-carousel-cards-data-heading {
    font-family: 'Josefin Sans';
    font-size: 28px;
    font-weight: 600;
}
.projects-carousel-cards-icon {
    height: 35px;
    width: 35px;
}
.projects-carousel-cards-data-description {
    font-size: 20px;
    padding-left: 3px;
}
.projects-carousel-cards-data-redirect-line {
    height : 1px ;
    background-color: rgb(183, 183, 183);
}

.projects-carousel-cards-data-redirect {
    font-family: 'Josefin Sans';
    font-weight: 100;
    margin-top: auto;
    font-size: 20px;
    
}
.projects-carousel-cards-redirect-content-wrapper{
    width: 100%;
}
.projects-carousel-cards-data-redirect-text {
    padding: 10px 9px 8px 38px;
}
.projects-carousel-cards-image {
    height : 350px;
    border-radius: 5px 0 0 5px;
    z-index: -1;
    opacity: 0.1;
    /* filter: brightness(20%); */
}

@keyframes foregroundAppear {
    0% {
       opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes foregroundDisappear {
    0% {
       opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.projects-carousel-cards-image-foreground {
    position: absolute !important;
    left: 50px;
    top: 150px;
    z-index: 1 !important;
    opacity: 0;
    animation: 0.3s ease-out 0s 0.3  foregroundDisappear;
}
.projects-carousel-cards-image-foreground-hover {
    position: absolute !important;
    left: 50px;
    top: 150px;
    animation: 0.3s ease-out 0s 0.3  foregroundAppear;
    z-index: 1 !important;
    visibility: visible !important;
}
.projects-carousel-cards-foreground-icon {
    height : 100px;
    width: 100px;
    color: white;
    z-index: 1 !important;
}
.projects-carousel-cards-foreground-text {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: white;
    z-index: 1;
}
.projects-carousel-cards-image2 {
    background-image: url('../../images/chatApp.png');
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    
}
@keyframes imageDarken {
    0% {
        background-color: transparent;
        opacity : 0;
     }
     100% {
        background-color: rgba(0, 0, 0, 0.69);
        opacity: 1;
     }
}
.projects-carousel-cards-image-background {
    background-position: center;
    height: 350px;
    background-repeat:no-repeat;
    background-size: contain;
}
.projects-carousel-cards-image-background-hover {
    background-position: center;
    height: 350px;
    background-repeat:no-repeat;
    background-size: contain;
   
}
.projects-carousel-cards-image-data{
    opacity: 0;
}
.projects-carousel-cards-image-data-hover {
    background-color: rgba(0, 0, 0, 0.69);
    animation: 0.3s ease-out 0s 0.3  imageDarken;
    opacity: 1;
}