.contact-container {
    background-color: #573280;
}

.contact-earth-image {
    position:absolute;
    left: 0;
}

.contact-heading {
    color: white;
    font-size: 50px;
    font-family: 'Raleway';
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.contact-form-details-wrapper {
    height: 750px;
}

.contact-form-container {
    text-align: left;
    background-color: white;
    height: 375px;
    z-index: 1;
    margin-top: 50px;
}

.contact-form-title {
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 200;
    background-color: #23022e;
    color: aliceblue;
}

.contact-form-email-subject {
    border-color: gray;
    border-radius: 0px;
    border-width: 1px;
    font-family: 'Montserrat';
    font-size: 15px;
}

.contact-form-message {
    border-color: grey;
    border-radius: 0px;
    border-width: 1px;
    font-family: 'Montserrat';
    font-size: 15px;
    width: 383px;
    height: 90px;
    
}

.contact-form-send-button {
    background-color: #23022e;
    color: white;
    border: none;
    width: 150px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
}

.contact-details-wrapper {
    position: absolute;
    margin-top: 50px;
    height: 600px;
    width: 45vw;
    /* background-color: rgb(76, 72, 72); */
    margin-right: -275px;
    z-index: 0;
    border-radius: 15px;
    background-image: url("../../images/blackbg.jpg");
    background-size: 45vw;
}

.contact-details-inner {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #4b0264b5);
    width: 45vw;
    height: 600px;
    border-radius: 15px;

}

@media screen and (max-width: 500px) {
    .contact-form-message {
        width: 300px;
    }
}


@media screen and (max-width: 400px) {
    .contact-form-message {
        width: 275px;
    }
}
