.about-fox {
    margin: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    /* background-color: rgb(	232, 213, 181 ,0.5); rgb(72,36,113)  rgb(186,87,62,0.5) */
    background-image: linear-gradient(to right, rgb(	232, 213, 181 ,0.5) , rgb(72,36,113, 0.5));
}

.about-img {
    height: 100px;
    padding: 100px;
    z-index: -1;
}