.about-container {
    background: url('../images/manFace.png') left top no-repeat,linear-gradient( to bottom , #2c2c2c , #4b1b5e);
    background-size: 70vh;
    /* padding-top: 100px; */
    
    /* background-origin: border-box; */
    /* z-index: -2; */
    display: block;
   
    
        }

.about-particle {
    position: fixed !important;
display: block;
height: 180vh;
}

.about-upper-shadow {
    height: 1px;
    width: 100%;
    box-shadow: 0px 2px 10px rgb(0, 0, 0);
}
.about-lower-shadow {
    height: 1px;
    width: 100%;
    box-shadow: 0px 2px 8px rgb(0, 0, 0);
    
}


.about-heading{
    font-family: "Josefins-Sans";
    font-size: 150px;
    color: rgb(209, 202, 202);
    padding-top: 20px;
}

.about-svg {
    width:500px;
}
@keyframes bob {
    from{
        transform : rotateX(20deg);
    }
   
}

#man,#woman {
    position: relative;
    animation-name: bob;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.about-main-grid {
    height: 150vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    
    /* background-color: rgb(	232, 213, 181 ,0.5); rgb(72,36,113)  rgb(186,87,62,0.5) */
    /* background-image: linear-gradient(to right, rgb(	232, 213, 181 ,0.5) , rgb(72,36,113, 0.5));
    z-index: 1; */
}

.about-p {
    /* background-color: rgb(255,255,255,0.4); */
     /* box-shadow: 2px 3px 5px  rgb(51, 50, 50);  */
    height:100%;
    width: 400px;
    border-radius: 3px;
    font-family: 'Ralewaylight';
    font-size: 18px;
    font-weight: 100;
    color: #ffffff;
    padding: 0 10px 0 10px;
     margin-left: -20px;
     display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    text-align: justify;
    line-height: 1.5;
   
}

.about-first-para,.about-second-para{
    padding: 100px 0 20px 0;
}
.about-first-para{
    position: relative;
    left: -50px;
}
.about-svg-wrapper {
    height: 100%;
    /* margin-right : -30px; */
    display: flex;
    flex-direction: column-reverse;
    align-self: flex-end;
    /* margin-top: auto; */
    
}

