*{
    margin: none;
    padding : none;
}
@font-face{
    font-family: "AzeretMono";
    src : local('AzeretMono'), url(../fonts/AzeretMono-VariableFont_wght.woff) format('woff');
  }
  @font-face{
    font-family: "Montserrat";
    src : local('AzeretMono'), url(../fonts/Montserrat-Regular.woff) format('woff');
  }
.home-wrapper { 
    display : flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
    font-family: "AzeretMono";
    color: rgb(0, 221, 255);
}
.my-img {
    height: 400px;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 150px;
}

.protfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.prot-items-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

}

.prot-items-wrapper img {
    height: 100px;
}
.prot-items-wrapper div {
    margin : 10px;
}

.github {
    font-size: 15px;
    font-family: "Montserrat";
}

.skill-category-wrapper {
    display: flex;
    flex-direction: row;
    
    align-items: flex-start;
    flex-wrap: wrap;
    width: 40vw;
}
.skills { 
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
}
.skill-category-wrapper div {
    font-family: "Montserrat";
    /* background-color: rgb(0, 221, 255); */
    background-image: linear-gradient(to right,   #ce6cf8,#00e1ff);
    border-radius: 14px;
    border-color: black;
    
    color: black;
    border-width: 2px;
    border-style: solid;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 7px 5px 7px;
    margin-top:5px;
    margin-right: 5px;
}
.moto { 
    color: #00e1ff;
    font-size: 15px;
    text-shadow: 0 0 4px #00e1ff, 0 0 4px #ce6cf8;
}

