*{
    padding : 0;
    margin  :0;
}
/* @font-face{
    font-family: "Raleway";
    src : local('Raleway'), url(../fonts/Raleway-VariableFont_wght.ttf) format('ttf');
  } */
  @font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Thin.woff2) format('woff2'),
        url(../fonts/Raleway-Thin.woff) format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RalewayItalic';
    src: url(../fonts/Raleway-ThinItalic.woff2) format('woff2'),
        url(../fonts/Raleway-ThinItalic.woff) format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'RalewayBold';
    src: url(../fonts/Raleway-Bold.woff2) format('woff2'),
        url(../fonts/Raleway-Bold.woff) format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
.lp-container {
    /* background-color: #ADA8B6; */
    background-image: url("../images/bgImgLandingPanelPlane.jpg");
    background-repeat: no-repeat;
    background-position: center;
    
    display: flex;
    flex-direction: row;
    background-size: cover;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 50px 0 rgba(0, 0, 0, 0.19);
    
}
.lp-datawrapper {
    color: #23022E;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 25px;

    /* background: -webkit-linear-gradient(#23022E, #5900ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

    
}
.lp-name {
    font-family: 'Josefins-Sans';
    font-size: 70px;
    background: -webkit-linear-gradient(#23022E, #9002c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lp-mypngimg {
    height : 85vh;
    padding-top:    75px;
}
