@font-face {
  font-family: 'MontaguSlab';
  src: url(../fonts/MontaguSlabSemiBold.woff) format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RalewayBold';
  src: url(../fonts/Raleway-Bold.woff2) format('woff2'),
      url(../fonts/Raleway-Bold.woff) format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: url(../fonts/Raleway-Thin.woff2) format('woff2'),
      url(../fonts/Raleway-Thin.woff) format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
.logo-h2 span {
  font-family: "RalewayBold";
  
    color :#23022E;
    /* background: -webkit-linear-gradient(#C228F6, #23022E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  
  }
  .logo-h2 {
    width: 30vw;;
    color: #573280;
    font-family: 'RalewayBold';
    font-size: 23px;
    /* background: -webkit-linear-gradient(#573280, #ADA8B6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  }
  .name {
    background-image: linear-gradient(to right,   rgb(156, 245, 255),rgb(0, 221, 255),#2a2aff);
    /* background-image: linear-gradient(to right,   #ad06f6,#00e1ff); */
    /* background-color: rgb(0, 221, 255); */
    color: black;
    padding: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    font-family: 'Montserrat';
    font-weight: 700;
  }
  .nav-wrapper {
    position: fixed;
    padding-top: 10px;

    font-size: 15px;
    font-family: 'round-edges';
    font-weight: 900;
  
    
    width: 100%; 
    display: flex;
    flex-direction: row;
  
    opacity: 0.8;
    
    /* color: rgb(0, 221, 255); */
    justify-content: space-around;
    align-items: center;
    top:0;
    z-index: 1;
  }
  .hr {
    background-color: rgb(72, 71, 71);
    border: none;
    height: 1px;
  }
  .navbar {
    width: 100%;
  min-height: 6vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  transition: all .7s ease-in;
  }
  .scrolled{
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightblue;
  }
  
  .nav-options {
    color: white;
    padding-top: 5px;
   font-weight: 100;
    font-size: 13px;
  }