

.projects-container {
    /* height : 700px; */
    /* background-image: linear-gradient(  #23022e , #ada8b6); */
    background-color: #B0A8B9;
    max-width: 1200px;
    margin: auto;
}

.projects-heading {
    font-family: 'Josefin Sans', cursive;
    
    font-weight: 700;
    color: white;
    font-size: 40px;
    /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #700ee0, 0 0 40px #700ee0, 0 0 50px; */
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #573280;
}

.projects-img {
    height: 500px;
}
.parallex-wrapper {
    height : 500px;
    width: 292px !important;
    overflow: hidden;
}
.parallex {
    background-image: url("../../images/mypngimg3.jpg");

    /* Set a specific height */
    height: 500px;
    width : 292px !important;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: 0px 30px ;

    padding-left: 20px;
}

.projects-cards-wrapper {
   
}

/* ///////////////////////////////////////// */
/* #5C4665 */
.projectCard-wrapper {
    padding : 1px;
    background-color: #8010ff;
    border-radius: 5px;
    box-shadow: 0 0 3px #700ee0, 0 0 10px #700ee0, 0 0 15px #700ee0;
    margin : 10px;
    height: fit-content;
    width: fit-content;
}
.projectCard-wrapper-inner {
    /* border-radius: 5px; */
    padding:6px;
    /* background-color: #ada8b668 ; */
}

.projectCard-img {
    width : 225px;
}
.projectCard-desc-wrapper {
    background-color: #5C4665;
    border-radius: 5px;
}
.projectCard-heading {
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: "Josefins-Sans";
    padding-top: 10px;
}
.projectCard-desc {
    
    width : 225px;
    /* background-color: #ada8b6c1; */
    text-align: left;
    font-size: 15px;
    color: white;
    font-family: 'Ralewaylight';
}

/* ///////////////////////////////////////////////////// */

.project-carousel-top-space {
    height : 80px;
}

.project-carousel {
    width : 800px !important;
}